@using TepayLink.Sdisco.Authorization
@using TepayLink.Sdisco.Web.Areas.Admin.Models.BlogProductRelateds
@using TepayLink.Sdisco.Web.Areas.Admin.Startup
@using TepayLink.Sdisco.Web.Areas.Admin.Models.Common.Modals
@model BlogProductRelatedProductLookupTableViewModel

@section Scripts
    {
    <script abp-src="/view-resources/Areas/Admin/Views/BlogProductRelateds/_BlogProductRelatedProductLookupTableModal.js" asp-append-version="true"></script>
}

@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("PickProduct")))



<div class="kt-content">
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="kt-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="ProductTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetProductButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="ProductTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L("Name")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("~/Areas/Admin/Views/Common/Modals/_ModalFooterWithClose.cshtml")